@import 'nib'

//************************
//********* MAIN *********
//************************

body
    font: 12px "Lucida Grande", Helvetica, Arial, sans-serif
    font-size: 12px
    font-weight: 400
    margin: 0 0 0 0
    padding: 0
    border: 0
    background-color: white

em
    font-weight: bold
    text-decoration: underline

.hidden
    display: none

#main
    width: 960px
    margin-left: auto
    margin-right: auto
    position: relative
    overflow: hidden

#main #top
    margin: 20px 0
    height: 40px

#main #mid
    height: 518px
    background-image: url('/images/court.jpg')

#main #bot
    margin: 20px 0
    height: 40px

#status
    text-align: center

//************************
//******* SECURITY *******
//************************

#security
    width: 300px
    height: auto
    border: 1px solid #aaa
    border-radius: 10px
    background-color: rgba(0,0,0,0.1)
    text-align: center
    position: absolute
    left: 50%
    top: 40%
    margin-left: -150px
    margin-top: -75px
    box-shadow: 2px 2px 4px rgba(0,0,0,0.3)
    padding-bottom: 10px

#security h2
    text-align: center
    color: #444

#security input
    display: inline-block
    width: 200px
    margin: 20px

#security button
    display: inline-block
    margin-bottom: 10px

//************************
//****** GAME LIST *******
//************************

#gamelist #top .title
    display: inline-block
    font-size: 32px

#gamelist #listContainer
    width: auto
    height: 100%
    background-color: rgba(255,255,255,0.8)
    padding: 20px
    overflow: auto
    box-sizing: border-box

#gamelist .gameitem
    list-style: none
    margin-top: 3px
    padding: 3px 5px
    width: auto
    line-height: 24px

#gamelist .gameitem .del
    display: inline-block

//#gamelist .gameitem:hover .del
//    visibility: visible

#gamelist .gameitem .go
    display: inline-block
    height: 28px
    line-height: 16px
    font-weight: bold
    padding: 1px 3px

//#gamelist .gameitem:hover .go
//    visibility: visible

#gamelist .gameitem .details
   display: inline-block
   border:1px solid black
   background-color: rgba(0,0,0,0.5)
   border-radius: 6px
   padding-right: 10px

#gamelist .gameitem .date
    display: inline-block
    border-right :1px solid black
    border-radius: 6px
    background-color: white
    padding: 1px 10px

#gamelist .gameitem .name
    display: inline-block
    font-weight: bold
    margin-left: 5px
    color: white

//************************
//***** GAME DETAIL ******
//************************

#top .buttons
    position: absolute
    top: 20px
    right: 0

//************************
//******* PRE GAME *******
//************************

#pregame #top .date
    display: inline-block
    font-size: 32px

#pregame #top .date input
    font-size: 28px
    width: 200px

#pregame #top .title
    display: inline-block
    font-size: 32px

#pregame #top .editTitle
    display: inline-block
    font-size: 28px

#pregame #mid .playersContainer
    width: 100%
    height: 100%
    background-color: rgba(255,255,255,0.8)
    text-align: center

#pregame #mid .playersContainer h1
    text-align: center

#pregame #mid .playersContainerLeft, #pregame #mid .playersContainerRight
    display: inline-block
    height: 500px
    width: 45%
    margin: 0 23px
    vertical-align: top
    box-sizing:border-box
    margin-top: 10px
    overflow: auto

#pregame .playerTable
    margin: 5px 0

#pregame .playerTable tr
    height: 24px

#pregame .playerTable .action
    width: 20px

#pregame .playerTable tr td.action
    visibility: visible

#pregame .playerTable td
    padding: 1 5px

#pregame .playerTable th.number
    width: 60px

#pregame .playerTable .number select
    width: 50px

#pregame .playerTable th.name
    width: 220px

#pregame .playerTable .name input
    width: 180px

#pregame .playerTable th.position
    width: 80px

#pregame .playerTable .position select
    width: 80px

//************************
//******** TOKEN *********
//************************


.token
    display: block
    border: 1px solid black
    border-radius: 15px
    width: 30px
    height: 30px
    text-align: center
    line-height: 30px
    font-size: 16px
    font-weight: bold
    position: absolute
    background-color: white
    user-select: none
    box-shadow: 2px 2px 3px rgba(0,0,0,0.5)

.token.opp
    background-color: #ccc
    border: 1px solid red

#mid .token:hover:not(.ui-draggable-dragging)
    transition: all .2s;
    transform: scale(1.2)

.token .del
    position: absolute
    display: none

#mid .token
    z-index: 1

#top .token, #bot .token
    z-index: 10

.token.color0
    color: rgb(255,0,0)

.token.color1
    color: rgb(43,100,20)

.token.color2
    color: rgb(46,111,253)

.token.color3
    color: rgb(253,154,0)

.token.color4
    color: rgb(0,0,0)

.token.color5
    color: rgb(164,0,0)

.token.color6
    color: rgb(85,142,40)

.token.color7
    color: rgb(0,45,153)

.token.color8
    color: rgb(77,0,105)

.token.color9
    color: rgb(62,69,5)

.token.color10
    color: rgb(41,0,130)

.token.color11
    color: rgb(200,32,103)

.token.disabled
    color: rgb(205,205,205)
    background-color: rgb(153,153,153)
    border: 1px solid black

//************************
//******** IN GAME *******
//************************

#ingame #bot .date
    display: inline-block
    font-size: 16px

#ingame #bot .title
    display: inline-block
    font-size: 16px

#ingame .controls
    margin-top: 5px

#ingame .team
    display: inline-block


#ingame .team .token
    position: relative
    display: inline-block
    margin: 0 2px

#ingame #mid .token:hover:not(.ui-draggable-dragging) .del, #ingame #mid .token.selected .del
    display: block
    top: -10px
    left: 20px
    width: 20px
    height: 20px
    min-width: 20px

#ingame .token
    cursor: move

#ingame .oTeam
    float: right

//************************
//******* POS GAME *******
//************************

#posgame #bot .date
    display: inline-block
    font-size: 16px

#posgame #bot .title
    display: inline-block
    font-size: 16px

#posgame .team
    display: inline-block

#posgame .team .token
    position: relative
    display: inline-block
    margin: 0 2px
    cursor: pointer

#posgame .oTeam
    float: right

#posgame #bot .all
    float:right
