<div id="top">
    <div class="title">Configurações</div>
    <div class="buttons">
        <button class="back buttonOrange">↑</button>
    </div>
</div>
<div id="mid">
    <div class="configPanel">

        <div class="containerLeft">
            <h1>Meu Time Inicial</h1>
            <h4>Defina abaixo como deve ser a configuração inicial do seu time quando um novo jogo é criado:</h4>
            <table class="playerTable">
                <tr>
                    <th class="action"></th>
                    <th class="number">Número</th>
                    <th class="name">Nome</th>
                    <th class="position">Posição</th>
                </tr>
            </table>
            <button class="add buttonOrange selected">+</button>
        </div>

        <div class="containerRight">
            <h1>Alterar Senha</h1>
            <input id="change_password_old" class="change_passwod_item" type="password" placeholder="senha antiga">
            <br>
            <input id="change_password_new" class="change_passwod_item" type="password" placeholder="nova senha">
            <br>
            <input id="change_password_repeat" class="change_passwod_item" type="password" placeholder="repetir nova senha">
            <br>
            <button id="change_password" class="buttonOrange selected change_passwod_item">Salvar</button>

            <div id="change_password_msg"></div>
        </div>

    </div>

</div>
