
<td class="action"><button class="del buttonRed buttonRedX">X</button></td>
<td class="number">
    <select name="num">
        <option value="-1"></option>
        <% for(var i=0;i<100;i++){%>
        <option value="<%=(i<10?'0':'') + i%>"><%=(i<10?'0':'') + i%></option>
        <% }%>
    </select>
</td>
<td class="name"><input type="text" value="<%= player.name?player.name:'' %>"/></td>
<td class="position">
    <select name="pos">
        <option value="0"></option>
        <option value="1">Armador</option>
        <option value="2">Ala</option>
        <option value="3">Pivô</option>
    </select>
</td>