<% if((!player.num && !player.name && !player.pos) || edit){ %>
    <td class="action"></td>
    <td class="number"><input class="numberEdit" value="<%= player.num?player.num:'' %>"/></td>
    <td class="name"><input class="nameEdit" value="<%= player.name?player.name:'' %>"/></td>
    <td class="position"><input class="positionEdit" value="<%= player.pos?player.pos:'' %>"/></td>
<% }else{ %>
    <td class="action"><button class="del buttonRed buttonRedX">-</button></td>
    <td class="number"><%= player.num?player.num:'' %></td>
    <td class="name"><%= player.name?player.name:'' %></td>
    <td class="position"><%= player.pos?player.pos:'' %></td>
<% } %>

